<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
>

    <testsuites>
        <testsuite name="Gordalina Easypay Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <!-- Set your credentials below and set EASYPAY_RUN_INTEGRATION_TESTS to true -->
    <php>
        <const name="EASYPAY_RUN_INTEGRATION_TESTS" value="false" />
        <const name="EASYPAY_CONFIG_USER" value="USER010101" />
        <const name="EASYPAY_CONFIG_ENTITY" value="10611 or 21048" />
        <const name="EASYPAY_CONFIG_CIN" value="9999" />
    </php>
</phpunit>
