<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
>

    <testsuites>
        <testsuite name="Gordalina Easypay Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>

    <!--
        Set your credentials here to run integration tests
        <php>
            <const name="EASYPAY_CONFIG" value="true" />
            <const name="EASYPAY_CONFIG_USER" value="user" />
            <const name="EASYPAY_CONFIG_ENTITY" value="entity" />
            <const name="EASYPAY_CONFIG_CIN" value="cin" />
        </php>
    -->
</phpunit>
